/* Carousel.css */

.carousel {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item img {
    border-radius: 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 10px;
}

.caption {
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
