.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height:75px;
    background-color: black;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.search-bar input {
    padding: 0.5rem;
    width: 200px;
}
