.personalized-playlist {
    background-color: #ffffff;
    color: black;
    padding: 1rem;
}

.playlist-items {
    display: flex;
    overflow-x: scroll;
}

.playlist-item {
    margin-right: 20px;
}

.playlist-item p {
    margin: 0.5rem 0;
}

.small {
    font-size: 0.8rem;
}
