.play-pause-btn {
    font-size: 36px; /* Larger font size for the icon */
    border: none;
    background-color: transparent; /* Transparent background */
    cursor: pointer;
    outline: none;
    padding: 0px;
    color: #FFFFFF; /* Set the color of the icon */
}

/* uses flex display to center button */
.btn-container{
    margin: 5px 0px 5px 0px;
    display: flex;
    /* border: 5px solid blue; */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.play-pause-btn:hover {
    opacity: 0.8;
}
